*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#fac6ae;

font-family:Arial;

}

.login{

width:400px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.2);

text-align:center;

}

.logo{

width:120px;

margin-bottom:20px;

}

h1{

color:#ef4922;

margin-bottom:5px;

}

h2{

margin-bottom:25px;

color:#444;

}

input{

width:100%;

padding:14px;

margin-bottom:18px;

border:2px solid #ddd;

border-radius:10px;

font-size:16px;

}

input:focus{

outline:none;

border-color:#ef4922;

}

button{

width:100%;

padding:15px;

background:#ef4922;

color:white;

font-size:17px;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#d93d17;

}

#mensaje{

margin-top:20px;

color:red;

font-weight:bold;

}